body {
    font-family:'Courier New', Courier, monospace;
    text-align: center;

    background-image: url('./img/stars.jpg');
}

#board {
    border-bottom: 1px solid black;
    background-color: grey;
    opacity: 1;  /* Ensure opacity is set for starting */
    transition: opacity 1s ease; /* Optional: smoother transition */

}

canvas {
    position: absolute; /* Enables positioning relative to the viewport */
    top: 40%; /* Center vertically BUT set to slightly above halfpage to make it easier to view */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Offset by 50% of its own dimensions */
    margin: 0; /* Remove default margin */
    text-align: center; /* Ensure text alignment */
}

/* smaller PC screens support*/
@media (max-width: 1500px) {
    #board {
        width: 100vw; 
        height: 50vh; 
    }
}

@media (max-width: 600px) {

    
    #board {
        width: 100%;
        height: 40%;
        
        /* Rotate the board */
        transform: rotate(90deg);
        transform-origin: top center;  /* Adjust the rotation anchor */

        

        /* Change to a vertical layout */
        display: flex;   /* Optional: Use flexbox to manage content */
        flex-direction: column;  /* Stack content vertically */
    }
}