body{
    font-family: 'Star Wars', sans-serif;
    color:#ffde58;
    text-align: center;
    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;

    
}       

h1{
    font-size: 100px;
}

#text{
    font-size: 20px;

    width: 50vw; /* 50% of the viewport width */
    height: 50vh; /* 50% of the viewport height */

    margin: 10px;

    height:auto;
}


#playerName{
    background-color: black;    
    color:white;
    text-align: center;
}

#playerName::placeholder {
    color: #ffde58; /* Changes the color of placeholder text */
    opacity: 0.7; /* Slightly faded appearance */
}


button{
    background-color:black;
    color:#ffde58;
    height:auto;
    width: 50vw; /* 50% of the viewport width */
    height: 10vh; /* 50% of the viewport height */
}