body{
    background-color: black;
    font-family: 'Star Wars', sans-serif;
    color:#ffde58;
    font-weight: bold;  
}

/* Container that holds the scrolling text */
#scrollingTextContainer {
    position: relative;
    width: 100%; /* Adjust width of container */
    height: 100%;
    overflow: hidden; /* Hide overflowed content */
    
}

/* Wrapper for the text group to animate */
#scrollingText {
    position: relative;
    animation: scrollText 10s linear forwards; /* Animate scrolling text */
    font-size: 60px;
    text-align: center;
}

.textGroup {
    animation: moveUp 10s linear forwards; /* Animate moving up */
}

/* Last paragraph won't move (static) */
#lastText {
    position: absolute;
    top: 100%; /* Initially placed below the container */
    width: 100%;
}

/* Keyframe to scroll the text up */
@keyframes moveUp {
    0% {
        top: 100%; /* Start below the container */
    }
    100% {
        top: -100%; /* Move completely off-screen */
    }
}

/* Optional, adjust the animation for smooth scrolling */
@keyframes scrollText {
    0% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}

img{
    width:60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
    margin-top:100px;
}
