body{
    font-family: 'Star Wars', sans-serif;
    color:#ffde58;
    text-align: center;
    background-color: black;

    display: flex;
    flex-direction: column;
    align-items: center;

    
}       

h1{
    font-size: 100px;
}

#text{
    font-size: 20px;

    width: 50vw; /* 50% of the viewport width */
    height: 50vh; /* 50% of the viewport height */

    margin: 10px;

    height:auto;
}


#playerName{
    background-color: black;    
    color:white;
    text-align: center;
}


button{
    background-color:black;
    color:#ffde58;
    height:auto;
    width: 50vw; /* 50% of the viewport width */
    height: 10vh; /* 50% of the viewport height */
}




/* Container that holds the scrolling text */
#scrollingTextContainer {
    position: relative;
    width: 100%; /* Adjust width of container */
    height: 100%;
    overflow: hidden; /* Hide overflowed content */
    text-align: center;
}

/* Wrapper for the text group to animate */
#scrollingText {
    position: relative;
    animation: scrollText 10s linear forwards; /* Animate scrolling text */
    
    text-align: center;
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
    width: 100%; /* Ensure full width */
    height: auto; /* Adjust height according to content */
}

.textGroup {
    animation: moveUp 10s linear forwards; /* Animate moving up */
}

/* Last paragraph won't move (static) */
#lastText {
    position: absolute;
    top: 100%; /* Initially placed below the container */
    width: 100%;
}

/* Keyframe to scroll the text up */
@keyframes moveUp {
    0% {
        top: 100%; /* Start below the container */
    }
    100% {
        top: -100%; /* Move completely off-screen */
    }
}

/* Optional, adjust the animation for smooth scrolling */
@keyframes scrollText {
    0% {
        top: 100%;
    }
    100% {
        top: -100%;
    }
}
