body{

    font-family: 'Star Wars', sans-serif;
    color:#ffde58;
    font-weight: bold;  

    background-image: url('../img/stars.jpg');

    text-align: center;
}

.box{
    padding: 20px;
}

button{
    width:100px;
    background-color: black;
    color:white;
}
